{{ partial "header" . }}
<!-- home
   ================================================== -->
<section id="home">

    <div class="overlay"></div>

    <div class="home-content-table">
        <div class="home-content-tablecell">
            <div class="row">
                <div class="col-twelve">
                    <h1 class="animate-intro">Anjuman-e-Safiee</h1>
                    <h3>New Zealand</h3>

                    <div class="more animate-intro">
                        <a class="smoothscroll button stroke" href="#about">
                            Learn More
                        </a>
                    </div>

                </div>
                <!-- end col-twelve -->
            </div>
            <!-- end row -->
        </div>
        <!-- end home-content-tablecell -->
    </div>
    <!-- end home-content-table -->

    <div class="scrolldown">
        <a href="#about" class="scroll-icon smoothscroll">
            Scroll Down
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
    </div>

</section>
<!-- end home -->

<!-- about
   ================================================== -->
<section id="about">

    <div class="row about-wrap">
        <div class="col-full">

            <div class="about-profile-bg"></div>

            <div class="intro">
                <h3 class="animate-this">About Us</h3>
                <p class="lead animate-this">
                    <span>Anjuman-e-Safiee (New Zealand)</span> is a non-profit organization administering and managing
                    the affairs of the Dawoodi Bohra community
                    in New Zealand.</p>
            </div>

        </div>
        <!-- end col-full  -->
    </div>
    <!-- end about-wrap  -->

</section>
<!-- end about -->

<!-- about
   ================================================== -->
<section id="services">

    <div class="overlay"></div>
    <div class="gradient-overlay"></div>

    <div class="row section-intro with-bottom-sep animate-this">
        <div class="col-full">

            <!-- <h3>Services</h3> -->
            <h1>Who are we</h1>

            <p class="lead">The Dawoodi Bohra community traces its spiritual heritage to the Prophet Mohammed SA and
                his wasi (legatee) Amirul Mumineen Maulana Ali AS, continuing through their successors, the imams.
                Dawoodi Bohras mostly originate from the North West Indian state of Gujarat. Their name, 'Bohra' comes
                from the Gujarati word 'vohra' which means trader; for the community essentially was then and remains
                to this day a business community although a substantial number are now professionals in various fields.</p>
            <p class="lead">
                <u>Anjuman-e-Safiee (New Zealand)</u> is registered under Charities Act 2005 – registration no. CC
                33202, helping over <u>100 families</u> that live in New Zealand
            </p>

            <p class="lead">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0d1qdmQeapg" title="An Introduction to The Dawoodi Bohras" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
        </div>
        <!-- end col-full -->
    </div>
    <!-- end row -->

    <div class="row services-content">

        <div class="services-list block-1-3 block-tab-full group">

            <div class="bgrid service-item animate-this">

                <span class="icon">
                    <i class="fa fa-cutlery"></i>
                </span>

                <div class="service-content">
                    <h3 class="h05">FMB</h3>

                    <p>It is the wish of Huzur-e-Aal TUS that homelike food should be provided to every mumin on his
                        doorstep. Today, nearly 100,000 homes of mumineen worldwide receive and have flourished with
                        this barakat. The same Faiz of Burhanuddin Moula RA’s mawaid reaches close to <u>65 families</u>
                        in New Zealand.
                    </p>
                </div>

            </div>
            <!-- end bgrid -->

            <div class="bgrid service-item animate-this">

                <span class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </span>

                <div class="service-content">
                    <h3 class="h05">Madrasa</h3>

                    <p>The Prophet Mohammed SA has stated that it is obligatory on every Muslim man and Muslim woman to
                        seek knowledge. This obligation is one the Bohras have taken to heart throughout their history.
                        Jamali Madarasa addresses the need for basic religious instruction for children where close to
                        <u>80 children</u> are taught the basic principles of Islam.
                    </p>
                </div>

            </div>
            <!-- end bgrid -->

            <div class="bgrid service-item animate-this">

                <span class="icon">
                    <i class="fa fa-money"></i>
                </span>

                <div class="service-content">
                    <h3 class="h05">Qardan Hasana</h3>

                    <p>Usury and interest, in all its forms, has been forbidden in Islam. Thus comes the role of qardan
                        hasana – the interest-free. Qardan hasanah is a concept that flies in the face of everything
                        that modern economics has come to be. Mumineen in New Zealand have been taking barakaat of Qardan
                        Hassanah for more than <u>5 years now.</u>
                    </p>
                </div>

            </div>
            <!-- end bgrid -->

        </div>
        <!-- end services-list -->

    </div>
    <!-- end services-content -->

</section>
<!-- end services -->

{{ $posts := (where .Data.Pages "Type" "==" "posts") }}

{{if gt (len $posts) 0 }}

<!-- Testimonials Section
   ================================================== -->
<section id="testimonials">

    <div class="intro-wrap">

        <div class="row narrow section-intro with-bottom-sep animate-this">
            <div class="col-twelve">
                <h1>Recent News & Events.</h1>
            </div>
        </div> <!-- end row section-intro -->

    </div> <!-- end intro-wrap -->

    <div class="row flex-container">

        <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">
                {{ range where .Data.Pages "Type" "posts" }}

                <li>
                    <a href="{{ .Permalink }}"> {{ .Title }}</a>

                    <div class="testimonial-author">
                        {{ .Summary }}
                    </div>
                </li> <!-- end slide -->
                {{ end }}
            </ul> <!-- end slides -->

        </div> <!-- end testimonial-slider -->

    </div> <!-- end flex-container -->

</section> <!-- end testimonials -->
{{end}} <!-- End If -->

{{ partial "contact" .}}

{{ partial "footer" . }}