{{ partial "header" . }}
<style type="text/css" media="screen">
    #styles {
        background: white;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    #styles span {
        color: #07617d;
    }
</style>

<!-- styles ================================================== -->
<section id="styles">

    <div class="row narrow add-bottom text-center">

        <div class="col-twelve tab-full">
            <h1>{{.Title}}</h1>
        </div>

    </div>
    <div class="row">
        <div class="tab-full">
            <p class="drop-cap">{{ .Content}}</p>
        </div>

    </div> <!-- end row -->
</section> <!-- end styles -->

{{ partial "contact" .}}

{{ partial "footer" . }}