<!-- contact
   ================================================== -->
<section id="contact">

	<div class="overlay"></div>

	<div class="row narrow section-intro with-bottom-sep animate-this">
		<div class="col-twelve">
			<h3>Contact</h3>
			<h1>Get In Touch.</h1>
			<p class="lead">
				The Dawoodi Bohras of Auckland have resided in
				New Zealand for nearly five decades.
				We regularly congregate at the 'Vajihi Markaz' their designated community center in Henderson to
				offer prayers and attend majlis (gatherings) for the remembrance of Allah.
			</p>
			<img src="/images/Vajihi Markaz.png" alt="Vajihi Markaz" />
			<p class="lead">Out Community Center - Vajihi markaz in Henderson, West Auckland</p>

		</div>
	</div>
	<!-- end section-intro -->

	<div class="row contact-content">

		<div class="col-eight tab-full animate-this">

			<h5>Location</h5>
			<div class="google-maps">
				<iframe width="600" height="450" id="gmap_canvas"
					src="https://maps.google.com/maps?q=302 Great North Road henderson auckland&t=&z=15&ie=UTF8&iwloc=&output=embed"
					frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
			</div>

			<!-- contact-warning -->
			<div id="message-warning"></div>

			<!-- contact-success -->
			<div id="message-success">
				<i class="fa fa-check"></i>Your message was sent, thank you!
				<br>
			</div>

		</div>
		<!-- end col-seven -->

		<div class="col-four tab-full contact-info end animate-this">

			<h5>Contact Information</h5>

			<div class="cinfo">
				<h6>Where to Find Us</h6>
				<p>
					302 Great North Road
					<br> Henderson, Auckland
					<br> New Zealand
				</p>
			</div>
			<!-- end cinfo -->

			<div class="cinfo">
				<h6>Email Us At</h6>
				<p>
					info@nzjamaat.org
				</p>
			</div>
			<!-- end cinfo -->

		</div>
		<!-- end cinfo -->

	</div>
	<!-- end row contact-content -->

</section>
<!-- end contact -->