<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<!--- basic page needs
   ================================================== -->
	<meta charset="utf-8">
	{{if .IsHome }}
	<title>{{.Title}}</title>
	{{ else }}
	<title>{{.Title}} - {{.Site.Title}}</title>
	{{ end }}
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
   ================================================== -->
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/vendor.css">
	<link rel="stylesheet" href="/css/main.css">

	<!-- script
   ================================================== -->
	<script src="/js/modernizr.js"></script>
	<script src="/js/pace.min.js"></script>

	<!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<script type="text/javascript">
		(function (c, l, a, r, i, t, y) {
			c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
			t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
			y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
		})(window, document, "clarity", "script", "l0ttyn3gns");
	</script>
	<script type="text/javascript"
		src="https://app.termly.io/resource-blocker/e199c89b-d955-4856-98d7-a6ad9fb0f4c0?autoBlock=on"></script>

</head>

<body id="top">

	<!-- header 
   ================================================== -->
	<header>

		<div class="header-logo">
			<a href="/">Anjuman-e-Saifee(New Zealand)</a>
		</div>

		<a id="header-menu-trigger" class="opaque" href="#0">
			<span class="header-menu-text">Menu</span>
			<span class="header-menu-icon"></span>
		</a>
		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close">
				<span>Close</span>
			</a>

			<h3>Anjuman-e-Saifee</h3>

			<ul class="nav-list">
				<li class="current">
					<a class="smoothscroll" href="#home" title="">Home</a>
				</li>
				<li>
					<a class="smoothscroll" href="#about" title="">About</a>
				</li>
				<li>
					<a class="smoothscroll" href="#services" title="">Who are we</a>
				</li>
				<li>
					<a class="smoothscroll" href="#portfolio" title="">Project Rise</a>
				</li>
				<li>
					<a class="smoothscroll" href="#contact" title="">Contact</a>
				</li>
				<li>
					<a href="https://forms.office.com/r/HW8xS6x613">Qardan EOI</a>
				</li>
			</ul>
		</nav>
		<!-- end #menu-nav-wrap -->
	</header>
	<!-- end header -->